#mainVisual {
    overflow: hidden;
    position: relative;
}
#mainVisual li {
    height: 100vh;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
}
#mainVisual li .img {
    height: 100vh;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    transition: 5s 0.5s;
    transform: scale(1.25);
}

#mainVisual .visual01 .img {
    background-image: url("../images/main/main_s1_bg.jpg");
}
#mainVisual .visual02 .img {
    background-image: url("../images/main/main_s2_bg.jpg");
}
#mainVisual .visual03 .img {
    background-image: url("../images/main/main_s3_bg.jpg");
}
#mainVisual .swiper-slide-active .img {
    transform: scale(1);
}
#mainVisual .txtBox {
    text-align: left;
    position: absolute;
    left: 200px;
    top: 50%;
    color: #fff;
    font-size: 18px;
    z-index: 2;
}
#mainVisual .txtBox .main {
    font-size: 54px;
    font-weight: 400;
    margin-bottom: 30px;
}
#mainVisual .pagination {
    position: absolute;
    left: 200px;
    top: 50%;
    z-index: 3;
    margin-top: 300px;
    padding: 0 50px;
}
#mainVisual .pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    opacity: 1;
    background-color: #fff;
    border: 3px solid transparent;
    border-radius: 100px;
    margin: 0 5px;
    transition: 0.5s ease;
}
#mainVisual .pagination .swiper-pagination-bullet-active {
    background-color: transparent;
    border-color: #fff;
}
#mainVisual .pagination i {
    color: #fff;
    font-size: 18px;
}
#mainVisual .pagination .btnPlay {
    display: none;
}
#mainVisual .pagination .btns {
    padding-left: 18px;
    float: left;
}
#mainVisual .pagination .bullets {
    float: left;
}
#mainVisual .pagination .btnPrev i,#mainVisual .pagination .btnNext i {
    font-size: 36px;
}
#mainVisual .pagination .btnPrev {
    position: absolute;
    left: 0;
    top: -7px;
}
#mainVisual .pagination .btnNext {
    position: absolute;
    right: 0;
    top: -7px;
}
/* business start */
.container {
    width: 1400px;
    margin: auto;
    position: relative;
}
h2 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 30px;
    
}
#mainContents section {
    height: 100vh;
    background-color: #ededed;
}
#mainContents .viewMore {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 12px;
}
#business .leftContents {
    width: 912px;
    float: left;
}
#business .leftContents li {
    float: left;
}#business .leftContents li:nth-child(3) {
    float: right;
}
#business .rightContents {
    float: right;
}
#business h3 {
    font-size: 26px;
    font-weight: 700;
    padding: 17px 0;
}
#business h3 i {
    padding: 0 5px;
    color: var(--main-color);
}
#business li img {
    transition: 0.25s ease;
}
#business li:hover img {
    filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.1));
    /* box-shadow: 10px 10px 10px rgba(0,0,0,0.1); */
}

/* r&d */
#rnd {
    position: relative;
}
#rnd h2 {
    margin-bottom: 100px;
}
#rnd:before {
    content: "";
    display: block;
    width: 100%;
    height: 600px;
    background-color: var(--main-color);
    position: absolute;
    right: 50%;
    top: 50%;
    margin-top: 70px;
    margin-right: -600px;
    transform: translateY(-50%);
}
#rnd .txtBox {
    float: left;
    width: 700px;
    color: #fff;
}
#rnd .txtBox .main {
    font-size: 40px;
    margin-bottom: 20px;
}
#rnd .txtBox .fList {
    margin-top: 50px;
    text-align: center;
}
#rnd .txtBox .fList li {
    margin-left: 40px;
}
#rnd .txtBox .fList li:nth-child(1) {
    margin-left: 0;
}
#rnd .txtBox .fList li .icon {
    width: 130px;
    height: 130px;
    border: 2px solid #fff;
    border-radius: 100px;
    margin-bottom: 10px;
}
#rnd .txtBox .fList li:nth-child(1) .icon {
    background: url("../images/main/main_s2_icon1.png") no-repeat center;
}
#rnd .txtBox .fList li:nth-child(2) .icon {
    background: url("../images/main/main_s2_icon2.png") no-repeat center;
}
#rnd .txtBox .fList li:nth-child(3) .icon {
    background: url("../images/main/main_s2_icon3.png") no-repeat center;
}
#rnd .imgBox {
    float: right;
    position: relative;
}
#rnd .imgBox::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background: url("../images/main/main_s3_item1.jpg");
    left: -20%;
    top: 20px;
    z-index: -1;
}
#vision {
    background: url("../images/main/main_s4_bg.jpg") no-repeat 50% / cover;
    background-size: cover;
}
#vision h2 {
    color: #fff;
    width: 50%;
    text-align: center;
    position: relative;
    top: 175px;
}
#vision .fList {
    margin-top: 350px;
}
#vision .fList li {
    width: 25%;
    position: relative;
    text-align: center;
}
#vision .fList li::before {
    content: "";
    display: block;
    padding-top: 100%;
}
#vision .fList li .inner {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 50px 0;
}
#vision .fList li strong {
    font-size: 78px;
    color: var(--main-color);
    font-weight: 600;
}
#vision .fList li:nth-child(2n) strong {
    color: #fff;
}
#vision .fList li .main {
    font-size: 30px;
    margin: 10px 0;
}
#vision .fList li:nth-child(1) {
    background-color: #fff;
}
#vision .fList li:nth-child(2) {
    background-color: var(--main-color);
    color: #fff;
}
#vision .fList li:nth-child(3) {
    background-color: #fff;
}
#vision .fList li:nth-child(4) {
    background-color: #472f91;
    color: #fff;
}
#vision .fList li:nth-child(3) {
    top: -350px;
}
#vision .viewMore {
    position: static;
    display: block;
    color: #fff;
    margin-top: 5px;
}
/*  */
#social {
    background: url("../images/main/main_s5_bg.jpg") no-repeat 50% / cover;
    background-size: cover;
    color: #fff;
}
#social .txtBox .main {
    font-size: 55px;
}
#social .txtBox p {
    margin-bottom: 20px;
}
#social .txtBox .viewMore {
    position: static;
    display: inline-block;
    padding: 15px 40px;
    border: 1px solid #fff;
    border-radius: 100px;
    margin-top: 30px;
    transition: 0.5s ease;
}
#social .txtBox .viewMore:hover {
    background-color: #fff;
    color: #333;
}
/*  */
#media {
    background: url("../images/main/main_s6_bg.jpg") no-repeat 50% 100%;
    background-size: contain;
}
#media article {
    float: left;
}
#media #public {
    width: 930px;
    position: relative;
}
#media #ir {
    float: right;
    width: 400px;
}
#media #public ul {
    border-top: 3px solid #333;
}
#media #public li {
    border-bottom: 1px solid #d9d9d9;
}
#media #public li a {
    display: block;
    height: 100px;
    line-height: 100px;
}
#media #public li .date {
    float: left;
    display: block;
    width: 150px;
    font-size: 20px;
    text-align: center;
    font-weight: 700;
    color: var(--main-color);
}
#media #public li p {
    float: left;
}
#media #public li i {
    float: right;
    line-height: 100px;
    font-size: 36px;
    font-weight: 100;
    color: #999;
    padding-right: 50px;
}
#media #ir .irBox {
    background-color: var(--main-color);
    color: #fff;
    height: 407px;
}
#media #ir .irBox p {
    padding: 30px 40px; 
    border-bottom: 2px solid rgba(255,255,255,0.5);
    font-size: 19px;
}
#media #ir .irBox dl {

}
/* #media #ir .irBox dt::before {
    content: "/A";
    display: inline;
    white-space: pre;
} */
#media #ir .irBox dt {
    display: inline-block;
    width: 60px;
}
#media #ir .irBox dd {
    display: inline-block;
    width: calc(100% - 80px);
}
#media #ir .irBox .stock {
    font-size: 40px;
    color: #d91718;
}
#media #ir .irBox .stock .unit {
    font-size: 19px;
    color: #fff;
    vertical-align: baseline;
}
#media #ir .irBox .stock i {
    font-size: 70px;
    margin-right: -10px;
    position: relative;
    top: 5px;
    right: 5px;
    vertical-align: sub;
}
#partners {
    height: 110px;
}
#partners h2 {
    width: 100px;
    line-height: 110px;
    float: left;
    font-size: 16px;
    font-weight: 500;
}
#partners .banner {
    width: 1300px;
    float: right;
    overflow: hidden;
    padding: 33px 0;
    position: relative;
}
#partners .banner .btnPrev {
    font-size: 32px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    color: #666;
}
#partners .banner .btnNext {
    font-size: 32px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    color: #666;
}
#partners .banner .mask {
    width: 1200px;
    overflow: hidden;
    margin: auto;
}
#partners .mask li {
    width: auto;
    padding: 0 20px;
}
#footer {
    width: 100%;
    padding: 20px 0;
    background-color: #3f3f41;
    color: #fff;
    line-height: 2;
    position: relative;
    padding-bottom: 70px;
}
#footer .container {
    padding: 10px 0;
    margin: 0 260px;
}
#footer .container .a {
    position: absolute;
    top: 20%;
    right: 0;
}
#footer span {
    color: rgba(255,255,255,0.6);
    position: absolute;
    margin-top: 25px;
}
#footer .foot_logo {
    position: absolute;
    right: 0;
    bottom: -40px;
    display: block;
    
}
