.hidden {
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
    left: -9999px;
}
.ol {
    outline: 1px solid #f00;
}
.clearFix:after , .fList:after {
    content: "";
    display: block;
    clear: both;
}
.center {
    text-align: center;
}
.container {
    width: 1200px;
    margin: 0 auto;
}
.fList > li {float: left;} 