#mainVisual {
  height: 100vh;
  overflow: hidden;
  background-color: #000;
  position: relative;
}

#mainVisual li {
  height: 100vh;
}

#mainVisual li.visual01 .bg {
  background-image: url("../images/main/1.jpg");
}

#mainVisual li.visual02 .bg {
  background-image: url("../images/main/2.jpg");
}

#mainVisual li.visual03 .bg {
  background-image: url("../images/main/03.jpg");
}

#mainVisual li.visual04 .bg {
  background-image: url("../images/main/4.jpg");
}

#mainVisual li.visual05 .bg {
  background-image: url("../images/main/5.jpg");
}

#mainVisual li.swiper-slide-active .bg {
  background-position: 0 0;
}

#mainVisual li.swiper-slide-active .infoBox {
  opacity: 1;
}

#mainVisual li .infoBox {
  position: absolute;
  left: 200px;
  top: 350px;
  color: #fff;
  opacity: 0;
}

#mainVisual li .infoBox .bg {
  height: 100vh;
  background-position: 100px 0;
  background-size: cover;
  -webkit-transform: translateX(200px);
          transform: translateX(200px);
  -webkit-transition: 1.5s ease-in-out;
  transition: 1.5s ease-in-out;
}

#mainVisual li .infoBox .sub {
  margin-top: 20px;
  font-size: 3.7rem;
  margin-bottom: 40px;
  line-height: 45px;
  letter-spacing: -0.25px;
  position: relative;
}

#mainVisual li .infoBox a {
  position: relative;
  display: block;
  width: 190px;
  line-height: 60px;
  font-weight: 400;
  font-size: 1.5rem;
  border: 1px solid #fff;
  text-align: center;
}

#mainVisual li .infoBox a:hover {
  color: #333;
  background-color: #fff;
}

#mainVisual li .bg {
  height: 100vh;
  background-position: 50% 0;
  background-size: cover;
}

#mainVisual .pagination {
  position: absolute;
  left: 200px;
  bottom: 100px;
  z-index: 2;
}

#mainVisual .pagination .bullets {
  float: left;
}

#mainVisual .pagination .btns {
  float: left;
  margin-top: -5px;
}

#mainVisual .pagination .btns .btnPlay {
  display: none;
}

#mainVisual .pagination .btns i {
  color: #fff;
  font-size: 2.3rem;
}

#mainVisual .pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: rgba(255, 255, 255, 0.8);
  margin-right: 20px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

#mainVisual .pagination .swiper-pagination-bullet-active {
  background-color: white;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#mainVisual .cover {
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 9;
}

#mainVisual .cover div {
  position: absolute;
  width: 25%;
  height: 100vh;
  -webkit-transform-origin: 0 100%;
          transform-origin: 0 100%;
  background-color: #333;
}

#mainVisual .cover div:nth-child(1) {
  left: 0;
}

#mainVisual .cover div:nth-child(2) {
  left: 25%;
}

#mainVisual .cover div:nth-child(3) {
  left: 50%;
}

#mainVisual .cover div:nth-child(4) {
  left: 75%;
}

#mainVisual .sns {
  position: absolute;
  z-index: 2;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #fff;
  width: 119px;
}

#mainVisual .sns ul li {
  height: auto;
}

#mainVisual .sns ul li a {
  padding: 20px 15px;
  margin: 5px 0;
  line-height: 60px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-right: none;
  border-radius: 100px 0 0 100px;
}

#mainVisual .sns ul li a:hover {
  background-color: #cf0a2c;
  color: #fff;
  -webkit-transition: 0.25s ease;
  transition: 0.25s ease;
}

#mainVisual .sns ul li a span {
  font-size: 1.2rem;
  letter-spacing: 1px;
  margin-left: 10px;
  font-weight: 700;
  letter-spacing: -0.25px;
}

#mainVisual .sns ul li a > i {
  font-size: 2.4rem;
  vertical-align: middle;
}

#medical {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

#medical .items .img {
  float: left;
  height: 100vh;
  width: 50%;
  position: relative;
}

#medical .items .img img {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#medical .items .img01 {
  background-color: #f5f5f5;
}

#medical .items .img02 {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin-left: -15px;
  z-index: 2;
  top: 50%;
}

#medical .items .img03 {
  background-color: #f4f1ea;
}

#medical .items .img03 img {
  bottom: 0;
}

#medical .snsBox ul li:nth-child(1) a span {
  left: 55px;
}

#medical .snsBox ul li:nth-child(3) a span {
  top: 18px;
}

#medical .snsBox ul li:nth-child(5) a span {
  top: 18px;
}

#medical .bottomTxt {
  text-align: center;
  position: absolute;
  width: 100%;
  font-size: 14rem;
  z-index: 5;
  bottom: -50px;
  color: #fff;
  font-weight: 700;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  letter-spacing: 0.7em;
  text-indent: 1.1em;
  overflow: hidden;
  left: 0;
}

#global {
  height: 100vh;
  background: url("../images/main/global_map.png") no-repeat 50% 50% #bbc6d0;
  background-size: contain;
  position: relative;
  overflow: hidden;
}

#global .bottomTxt {
  bottom: 130px;
  left: 58%;
}

#global .mapList li {
  position: absolute;
  left: 50%;
  top: 50%;
}

#global .mapList li .circle {
  width: 20px;
  height: 20px;
  border: 2px solid #333;
  border-radius: 100px;
  position: absolute;
}

#global .mapList li .circle:before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background-color: #333;
  border-radius: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#global .mapList li .txt {
  display: inline-block;
  margin-left: 30px;
}

#global .mapList li .marker {
  color: #cf0a2c;
  font-size: 3rem;
}

#global .mapList li.real .txt {
  margin-top: 0;
  margin-left: 0;
  text-align: center;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -15px;
  font-weight: 700;
  color: #cf0a2c;
}

#global .mapList li:nth-child(1) {
  margin-top: -3.5%;
  margin-left: -35.3%;
}

#global .mapList li:nth-child(2) {
  margin-top: 2.6%;
  margin-left: -30.5%;
}

#global .mapList li:nth-child(3) {
  margin-top: 7.8%;
  margin-left: -34.5%;
}

#global .mapList li:nth-child(4) {
  margin-top: -3.4%;
  margin-left: -20.7%;
}

#global .mapList li:nth-child(5) {
  margin-top: 13.1%;
  margin-left: -11.5%;
}

#global .mapList li:nth-child(6) {
  margin-top: -1.2%;
  margin-left: 18%;
}

#global .mapList li:nth-child(7) {
  margin-top: 11.8%;
  margin-left: 27.5%;
}

#global .mapList li:nth-child(8) {
  margin-top: -0.2%;
  margin-left: -17.3%;
}

#global .mapList li:nth-child(9) {
  margin-top: 4.1%;
  margin-left: -17.2%;
}

#global .mapList li:nth-child(10) {
  margin-top: 5.5%;
  margin-left: -18.8%;
}

#global .mapList li:nth-child(11) {
  margin-top: 0.1%;
  margin-left: -12.6%;
}

#global .mapList li .korea {
  position: absolute;
}

#global .mapList li .korea .circle {
  top: 50%;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#global .mapList li .korea img {
  position: absolute;
  left: -38px;
  bottom: 15px;
}

#global .mapList li .wave {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#global .mapList li .wave span {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  display: block;
  -webkit-animation: circleAni 3s linear infinite;
          animation: circleAni 3s linear infinite;
}

#global .mapList li .wave span:nth-child(1) {
  -webkit-animation-delay: 0;
          animation-delay: 0;
}

#global .mapList li .wave span:nth-child(2) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

#global .mapList li .wave span:nth-child(3) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

#global .snsBox ul li a .xi-command {
  -webkit-transform: rotate(43deg);
          transform: rotate(43deg);
}

#global .snsBox ul li:nth-child(4) a span {
  top: 18px;
}

#media {
  height: 100vh;
  position: relative;
  background-color: #e5e5e5;
  overflow: hidden;
}

#media .bottomTxt {
  bottom: auto;
  left: 100px;
  top: 180px;
  position: relative;
  margin-bottom: 100px;
}

#media .btns {
  position: absolute;
  left: 75%;
  top: 180px;
  font-size: 0;
  margin-left: -68px;
  z-index: 4;
}

#media .btns button {
  width: 70px;
  height: 60px;
  line-height: 60px;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  margin-left: -1px;
  cursor: pointer;
}

#media .btns button.btnPrev {
  border-radius: 100px 0 0 100px;
}

#media .btns button.btnNext {
  border-radius: 0 100px 100px 0;
}

#media .sliderWrap {
  padding-left: 1045px;
  position: relative;
}

#media .sliderWrap .mainBox {
  padding-left: 300px;
  position: absolute;
  height: 500px;
  left: 50px;
}

#media .sliderWrap .mainBox .txtSlider {
  overflow: hidden;
  background-color: #000;
  color: #fff;
  width: 350px;
  height: 370px;
  position: absolute;
  z-index: 2;
  top: 130px;
  left: 50px;
}

#media .sliderWrap .mainBox .txtSlider li {
  padding: 40px;
  background-color: #000;
  width: 350px;
  height: 370px;
}

#media .sliderWrap .mainBox .txtSlider li .category {
  font-size: 1.4rem;
  color: #cf0a2c;
}

#media .sliderWrap .mainBox .txtSlider li .title {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.25;
  margin: 20px 0;
  line-height: 1.5em;
  height: 3em;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

#media .sliderWrap .mainBox .txtSlider li .txt {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.7);
  line-height: 1.5;
  line-height: 1.5em;
  height: 7.5em;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
}

#media .sliderWrap .mainBox .imgSlider {
  -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  left: 60px;
  top: 60px;
  width: 580px;
}

#media .sliderWrap .mainBox .imgSlider img {
  height: 370px;
  width: 580px;
}

#media .sliderWrap .listBox .mask {
  overflow: hidden;
}

#media .sliderWrap .listBox li {
  width: 350px;
  height: 440px;
  margin-top: 60px;
}

#media .sliderWrap .listBox li img {
  width: 100%;
}

#media .sliderWrap .listBox li .desc {
  height: 220px;
  background-color: #fff;
  padding: 20px;
}

#media .sliderWrap .listBox li .desc .category {
  font-size: 1.4rem;
  color: #cf0a2c;
}

#media .sliderWrap .listBox li .desc .title {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.25;
  margin: 20px 0;
  line-height: 1.5em;
  height: 3em;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

#media .sliderWrap .listBox li .desc .txt {
  font-size: 1.5rem;
  color: #333;
  line-height: 1.5em;
  height: 4.5em;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

#media .pagination {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 100px;
  z-index: 2;
}

#media .pagination .bullets {
  float: left;
}

#media .pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #666;
  margin-right: 20px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

#media .pagination .swiper-pagination-bullet-active {
  background-color: #cf0a2c;
}

#media .snsBox ul li:nth-child(4) a span {
  left: 62px;
}

.bottomTxt {
  position: absolute;
  left: 60%;
  bottom: 30px;
  font-size: 1.6rem;
  line-height: 1.5;
}

.bottomTxt .main {
  font-size: 5.5rem;
  font-weight: 900;
  margin-bottom: 15px;
  line-height: 1;
}

.bottomTxt .main .red {
  color: #cf0a2c;
}

.grid {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.2);
}

.grid li {
  position: absolute;
  width: 25%;
  height: 100vh;
  top: 0;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}

.grid li:nth-child(1) {
  left: 25%;
}

.grid li:nth-child(2) {
  left: 50%;
}

.grid li:nth-child(3) {
  left: 75%;
}

.grid li p {
  white-space: nowrap;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  text-align: right;
  text-transform: uppercase;
  -webkit-transform: rotate(-90deg) translateX(30%) translateY(-25px);
          transform: rotate(-90deg) translateX(30%) translateY(-25px);
  margin-bottom: 20px;
  letter-spacing: 4px;
  -webkit-animation: txtAni 30s linear infinite;
          animation: txtAni 30s linear infinite;
}

.grid li:nth-child(2) p {
  animation: txtAni 30s linear infinite reverse;
}

.snsBox {
  position: absolute;
  z-index: 2;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 119px;
}

.snsBox ul li {
  height: auto;
}

.snsBox ul li a {
  padding: 0 62px;
  margin: 5px 0;
  line-height: 60px;
  border-radius: 100px 0 0 100px;
  background-color: #fff;
  color: #000;
  position: relative;
  float: left;
}

.snsBox ul li a:hover {
  background-color: #cf0a2c;
  color: #fff;
  -webkit-transition: 0.25s ease;
  transition: 0.25s ease;
}

.snsBox ul li a span {
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -0.25px;
  line-height: 1.2;
  text-align: left;
  position: absolute;
  right: 20px;
  top: 25px;
}

.snsBox ul li a > i {
  font-size: 2.4rem;
  vertical-align: middle;
  margin-left: -40px;
}

#faq {
  padding: 100px 0;
}

#faq h2 {
  margin-bottom: 50px;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
}

#faq .faqList {
  width: 1200px;
  margin: auto;
}

#faq .faqList li:nth-child(1) {
  border-top: 1px solid #d9d9d9;
}

#faq .faqList li dt {
  padding: 15px 10px;
  border-bottom: 1px solid #d9d9d9;
  font-size: 1.8rem;
  cursor: pointer;
}

#faq .faqList li dd {
  padding: 30px;
  background-color: #f8f8f8;
  line-height: 1.5;
  font-size: 1.6rem;
  display: none;
  border-top: 1px solid #d9d9d9;
}

@-webkit-keyframes txtAni {
  0% {
    -webkit-transform: rotate(-90deg) translateX(30%) translateY(-25px);
            transform: rotate(-90deg) translateX(30%) translateY(-25px);
  }
  100% {
    -webkit-transform: rotate(-90deg) translateX(-350%) translateY(-25px);
            transform: rotate(-90deg) translateX(-350%) translateY(-25px);
  }
}

@keyframes txtAni {
  0% {
    -webkit-transform: rotate(-90deg) translateX(30%) translateY(-25px);
            transform: rotate(-90deg) translateX(30%) translateY(-25px);
  }
  100% {
    -webkit-transform: rotate(-90deg) translateX(-350%) translateY(-25px);
            transform: rotate(-90deg) translateX(-350%) translateY(-25px);
  }
}

@-webkit-keyframes circleAni {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(0);
            transform: translate(-50%, -50%) scale(0);
    opacity: 0.5;
  }
  50% {
    -webkit-transform: translate(-50%, -50%) scale(0.5);
            transform: translate(-50%, -50%) scale(0.5);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    opacity: 0;
  }
}

@keyframes circleAni {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(0);
            transform: translate(-50%, -50%) scale(0);
    opacity: 0.5;
  }
  50% {
    -webkit-transform: translate(-50%, -50%) scale(0.5);
            transform: translate(-50%, -50%) scale(0.5);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    opacity: 0;
  }
}
